.pi {
    right: 1rem;
    font-size: 1.5rem;
    top: 1rem;
}

.custom-section-title {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    padding: 10px 0;
    margin-bottom: 10px;
    padding-left: 15px;
    border-bottom: 2px solid #304562;
}