key,type,encoding,value
main,namespace,,
hostname,data,string,nerdaxe
wifissid,data,string,myssid
wifipass,data,string,mypass
stratumurl,data,string,public-pool.io
stratumport,data,u16,21496
stratumuser,data,string,bc1q29hp4fqtks2wzpmfwtpac64fnr8ujw2nvnra04.nerdqaxe
stratumpass,data,string,x
asicfrequency,data,u16,485
asicvoltage,data,u16,1200
flipscreen,data,u16,1
invertfanpol,data,u16,0
autofanspeed,data,u16,0
fanspeed,data,u16,100
selftest,data,u16,0
overheat_temp,data,u16,70
influx_enable,data,u16,0
influx_url,data,string,http://192.168.0.123
influx_port,data,u16,8086
influx_token,data,string,f37fh783hf8hq
influx_bucket,data,string,nerdqaxeplus
influx_org,data,string,nerdqaxeplus
influx_prefix,data,string,mainnet_stats

