@import '../../@theme/styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
//@import '~@nebular/theme/styles/global/_breakpoints';

@include nb-install-component() {
form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #304562;
}
th {
    text-align: right;
    /*background-color: var(--card-header-primary-background-color);*/
    background-color: var(--button-filled-info-background-color);
}

th, td {
    padding: 0.5rem;
    border-bottom: 1px solid #304562;
    text-align: right;
}

th:nth-child(1), td:nth-child(1),
th:nth-child(8), td:nth-child(8),
th:nth-child(9), th:nth-child(10), th:nth-child(11),
td:nth-child(9), td:nth-child(10), td:nth-child(11) {
    text-align: center;
}

th:nth-child(9), th:nth-child(10), th:nth-child(11) {
    width: 32px;
}

td:nth-child(9) button,
td:nth-child(10) button,
td:nth-child(11) button {
    margin-right: 0;
}


a {
    color: var(--text-primary-color);// white;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9;
}

.modal {
    position: fixed;
    max-height: 70vh;
    width: 50vw;
    z-index: 999;
    top: 0;
    left: 0;
    margin: 12vh 25vw;
    padding: 5px;
    overflow-y: auto;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 0;

    table {
        min-width: 100%;
        white-space: nowrap;

        th, td {
            padding: 0.75rem;
            text-align: left;

            @media (max-width: 1150px) {
                padding: 0.5rem;
            }
        }
    }
}
button {
    margin-right:20px;
}

nb-slider {
    width: 100%;
}

.progress-wrap {
    position: relative;
    height: 1rem;
}

.progress-foreground {
    background-color: nb-theme(color-primary-default);
    height: 5px;
    position: absolute;
    left: 0;
    margin-top: calc(0.75rem - 1px);
    width: 100px;
}

.progress {
    appearance: none;
    width: 100%;
    background: transparent;
    height: 1.5rem;
    outline: none;
    position: absolute;

    @include install-thumb() {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: nb-theme(color-primary-default);
        cursor: pointer;
        margin-top: calc(-0.5rem + 1px + 1.25px);
        border: none;
    }

    @include install-track() {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: nb-theme(border-basic-color-3);
    }
}
.text-primary {
    font-weight: bold;
    color: var(--text-primary-color);
}

.text-orange-500 {
    color: var(--bs-orange);
}

.text-red-500 {
    color: var(--bs-red);
}

.text-purple-500 {
    color: var(--bs-purple);
}

.text-blue-500 {
    color: var(--bs-blue);
}

.text-green-500 {
    color: var(--bs-green);
}

.swarm-table {
    font-weight: bold;
    color: var(--button-filled-primary-text-color);
}

}

