<ng-container *ngIf="info$ | async as info">
    <nb-card>
        <nb-card-header>{{ 'SYSTEM.OVERVIEW' | translate }}</nb-card-header>
        <nb-card-body>
            <table class="overview-table">
                <tr>
                    <td><b>{{ 'SYSTEM.MODEL' | translate }}:</b></td>
                    <td>{{ info.deviceModel }} ({{ info.ASICModel }})</td>
                </tr>
                <tr>
                    <td><b>{{ 'SYSTEM.UPTIME' | translate }}:</b></td>
                    <td>{{ info.uptimeSeconds | dateAgo }}&nbsp;&nbsp;&nbsp;<button nbButton size="small"
                            (click)="restart()" status="danger">{{ 'SYSTEM.RESTART' | translate }}</button></td>
                </tr>
                <tr>
                    <td><b>{{ 'SYSTEM.LAST_RESET_REASON' | translate }}:</b></td>
                    <td>{{ info.lastResetReason | translate }}</td>
                </tr>
                <tr>
                  <td><b>{{ 'SYSTEM.WIFI_STATUS' | translate }}:</b></td>
                  <td>
                    <span class="wifi-status-combined">
                      {{ info.wifiStatus | translate }}
                      <span class="rssi-inline">
                        ({{ info.wifiRSSI }} dBm)
                        <div class="wifi-bars" [attr.title]="getRssiTooltip(info.wifiRSSI)">
                          <div class="bar" [class.active]="info.wifiRSSI > -85"></div>
                          <div class="bar" [class.active]="info.wifiRSSI > -75"></div>
                          <div class="bar" [class.active]="info.wifiRSSI > -65"></div>
                          <div class="bar" [class.active]="info.wifiRSSI > -55"></div>
                        </div>
                      </span>
                    </span>
                  </td>
                </tr>
                <tr>
                    <td><b>{{ 'SYSTEM.MAC_ADDRESS' | translate }}:</b></td>
                    <td>{{ info.macAddr }}</td>
                </tr>
                <tr>
                    <td><b>{{ 'SYSTEM.FREE_HEAP_MEMORY' | translate }}:</b></td>
                    <td>SRAM: {{ info.freeHeapInt }}, PSRAM: {{ info.freeHeap }}</td>
                </tr>
                <tr>
                    <td><b>{{ 'SYSTEM.VERSION' | translate }}:</b></td>
                    <td>{{ info.version }}</td>
                </tr>
            </table>
        </nb-card-body>
    </nb-card>

    <nb-card class="mt-4">
        <nb-card-header style="display: flex; align-items: center; flex-wrap: nowrap;">
            {{ 'SYSTEM.REALTIME_LOGS' | translate }}
            <button nbButton size="small" status="primary" (click)="toggleLogs()" style="margin-left: 15px;">
                {{ showLogs ? ('SYSTEM.HIDE' | translate) : ('SYSTEM.SHOW' | translate) }} {{ 'SYSTEM.LOGS' | translate }}
            </button>
            <button nbButton size="small" status="warning" (click)="stopScroll = !stopScroll" *ngIf="showLogs"
                style="margin-left: 15px;">
                {{ stopScroll ? ('SYSTEM.START' | translate) : ('SYSTEM.STOP' | translate) }} {{ 'SYSTEM.SCROLLING' | translate }}
            </button>
            <div *ngIf="showLogs" style="display: flex; align-items: center; margin-left: 15px; margin-top: 0;">
            <!-- Clear Filter Button -->
              <button nbButton size="small" status="info" (click)="logFilterText = ''" style="margin-right: 10px;">
                {{ 'SYSTEM.CLEAR_FILTER' | translate }}
              </button>
              <label for="logFilterText" style="margin-right: 5px;">{{ 'SYSTEM.FILTER' | translate }}</label>
                <input id="logFilterText" type="text" [(ngModel)]="logFilterText" [placeholder]="'SYSTEM.FILTER_LOGS_PLACEHOLDER' | translate"
                  style="margin-left: 5px; flex-grow: 1; width: calc(100% - 210px);" />
            </div>
        </nb-card-header>
        <nb-card-body *ngIf="showLogs">
            <div id="logs" #scrollContainer>
                <div class="log-entry" *ngFor="let log of logs" [innerHTML]="'₿ ' + (log | ANSI)"></div>
            </div>
        </nb-card-body>
    </nb-card>
</ng-container>
