
// themes - our custom or/and out of the box themes
@use './themes.scss' as *;

// framework component themes (styles tied to theme variables)
@use '@nebular/theme/styles/globals' as *;
//@use '/node_modules/@nebular/auth/styles/all' as *;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/grid';
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

// doesn't work in AP mode and layout / stylesheets break
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/open-sans-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
 // @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();

  
};

/*
html, body, xc-app, xc-app-layout, nb-layout {
  height: 100%;

  .scrollable-container {
    height: 100% !important;
  }
}

nb-layout.with-scroll .scrollable-container {
 height: auto !important;
}

.help-icon-right {
  position: absolute;
  right: 10px;
}



body {
  overflow: scroll !important;
}
*/

angular2-smart-table-tags-list {
  display: none;
}

.form-group{
  @extend .form-group;
  margin-bottom: 0.25rem;
}


.main-container { top: 0px !important; }

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

mat-icon{
  font-family: 'Material Icons' !important;
}

@media (max-width: 767px) {
  nb-card-body {
    padding: 1rem;
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
